
@{
}
<a href="/File/DownLoad">导出excel文件</a>
<form action="/File/Upload" method="post" enctype="multipart/form-data" >
  选择excel文件:  <input type="file" name="file" />
    <input type="submit" value="上传excel" />
</form>